.nav-item a {
  color: white;
  text-decoration: none; 
}

.nav-item a:visited {
  color: white;
}

.nav-item a:hover {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
  text-decoration-color: rgba(255, 255, 255, 0.8);
}


.nav-item a:active {
  color: white;
}
